.loading {
    text-align: center;
    margin-top: 20%;
    color: cornflowerblue;
  }

  h1{
    font-size: 5vh;
    font-weight: 500;
  }

.loading-spinner {
border: 5px solid rgb(187, 187, 187);
border-top: 5px solid cornflowerblue;
border-radius: 50%;
width: 40px;
height: 40px;
animation: spin 1s linear infinite;
margin: auto;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
  